# Archivos creados por TeXstudio.
*.aux
*.lof
*.lomycapequ
*.lot
*.out
*.synctex.gz
*.toc
*.log
*.lol
*.bbl
*.blg

# Releases.
.releases/*
*.zip

# Windows.
desktop.ini

# OSX.
__MACOSX/
.DS_Store

# Archivos PyCharm
.idea/