# Archivos creados por TeXstudio
*.aux
*.lof
*.lomycapequ
*.lot
*.out
*.synctex.gz
*.toc
*.log
*.lol
*.bbl
*.blg

# Releases
.releases/*
*.zip

# Version antigua
_old/

# Windows
desktop.ini

# OSX
__MACOSX/
.DS_Store

# Archivos PyCharm
.idea/

# Compilados python
*.pyc

# Compilados pdf
auxiliar.pdf
main.pdf

# Otros
.vscode